

@{
    ViewBag.Title = "Index";
}
<h1>
    <br>
    <a asp-controller="ToDo" asp-action="Create" class="col-md-6 col-md-offset-1 ">Create a new Task</a>
    <br>

    <br>

    <br>
    <a asp-controller="ToDo" asp-action="List" class="col-md-6 col-md-offset-3">Show your Tasks</a>
   
    <br>

</h1>
