@using TaskapaloozaBeta.ViewModels
@model AddToDosToListViewModel

@{
    ViewBag.Title = "Add";
}

    <h2>Add a Task to: @Model.CurrentList.NAME</h2>     
    @using (Html.BeginForm())
    {


    <form  asp-action="AddToDosToList"> 
        
        <div class="form-group">
            <label asp-for="selectedToDoID" class="col-md-2 col-md-offse-3 control-label">Task</label>
            <select asp-for="selectedToDoID" asp-items="@Model.AvailableToDos"></select>
            <span asp-validation-for="selectedToDoID"></span>
        </div>       

        @Html.Hidden("CurrentListID",Model.CurrentList.ID)

        <input type="submit" value="Add Task" class="btn btn-success"/>
    </form>
    }

<p>
    <a asp-controller="ToDoList" asp-action="List" class="btn btn-primary">Back</a>
</p>

