
@{
    ViewData["Title"] = "Index";
}
<h1>
    <br>
    <a asp-controller="Planning" asp-action="List" class="col-md-6 col-md-offset-1 ">Make some Plans</a>
    <br>

    <br>

    <br>
    <a asp-controller="Planning" asp-action="Index" class="col-md-6 col-md-offset-3">View Plan Reports</a>

    <br>

</h1>