@{
    ViewData["Title"] = "Home Page";
}
<h1>
    <br>
    <a asp-controller="ToDo" asp-action="Index" class="col-md-6 col-md-offset-1 "> Work with your Tasks</a>
    <br>
    <br>
    <br>
    <a asp-controller="ToDoList" asp-action="Index" class="col-md-6 col-md-offset-3">Work with your Tasklists</a>
    <br>
    <br>
    <br>
    <a asp-controller="Planning" asp-action="Index" class="col-md-6 col-md-offset-5">Do some Planning</a>
    <br>
</h1>

